.easy_setup_area .hosting_title p {
    max-width: 700px;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: inline-block;
    }
}

@media only screen and (min-width: 480px) {
    .desktop-view {
        display: block;
    }

    .mobile-view {
        display: none;
    }
}

.apply-banner-img .main_banner_item {
    background: no-repeat 50% 55%/cover url(../images/pages/apply/apply-banner.jpg);
}
