.level-contents {
    position: relative;
    padding-left: 25px;
}
.level-contents li {
    color: #333;
    font-size: 15px;
    font-weight: normal;
    font-family: '나눔고딕','Nanum Gothic','Malgun Gothic','맑은고딕';
}

@media only screen and (max-width: 480px) {
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: inline-block;
    }
}

@media only screen and (min-width: 480px) {
    .desktop-view {
        display: block;
    }

    .mobile-view {
        display: none;
    }
}

.curriculum-banner-img .main_banner_item {
    background: no-repeat 50% 35%/cover url(../images/pages/curriculum/guide.jpg) !important;
}

.level-contents li a i {
    top: 2px;
}

.setup_img img {
    min-width: 200px;
    max-width: 400px;
}
