.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body_wrapper {
    min-width: 320px !important;
}

.pulse_img {
    position: absolute;
    top: -12px;
    left: 15.3px;
    z-index: 1;
}

.apply-btn {
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 111px;
    text-align: center;
    overflow: visible;
    padding: 5px 20px !important;
}

.apply-btn:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    border-bottom: 10px solid transparent;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -19px;
}

.apply-btn:hover {
    color: white;
    background-color: #333 !important;
    box-shadow: 0px 10px 15px 0px rgba(51,51, 51, 0.2);
}

@media (max-width:576px){
    .apply-btn {
        top: -5px;
        left: 170px;
        border-radius: 5px;
        margin: 0 !important;
    }

    .apply-btn:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid #333;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left: -17px;
        margin: 0;
        top: 10px;
    }

    .schedule_item {
        margin-bottom: 0;
    }

    .schedule_item .number {
        margin: 0 0 0 16px;
    }

    .schedule_item .new_calendar_content {
        text-align: left;
        position: relative;
        left: 50px;
        bottom: 53px;
    }
}

.lg-text {
    display: block;
}

.sm-text {
    display: none;
}

.text-justify {
    text-align: justify;
}

@media only screen and (max-width:480px){
    .lg-text {
        display: none !important;
    }

    .sm-text {
        display: block !important;
    }
}

.btn-kakaotalk {
    width: 150px;
}
